In [1]:
import pandas as pd
import json 
import numpy as np

                    Dataset Games

Carga y guardado de datos en el csv "Games"

In [34]:
# Cargar el archivo JSON y lo guardo en el DataFrame dfgames
data = []
# Abrir el archivo JSON
with open('output_steam_games.json', "r") as data_file:
  # Leer el contenido del archivo y convertirlo a un objeto Python
    for line in data_file:
        df = json.loads(line)
        data.append(df)

dfgames = pd.DataFrame(data)

In [35]:
# Explorar un poco el DataFrame
dfgames.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Elimino filas con valores nulos en cualquier columna
dfgames = dfgames.dropna()

In [ ]:
# Obsevor que columna voy a usar y cual tengo que eliminar
dfgames.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [37]:
# Uso la funcion drop para eliminar las columnas que no necesito
dfgames = dfgames.drop(['publisher', 'reviews_url', 'url', 'tags', 'specs', 'app_name','early_access'], axis=1)

In [38]:
dfgames.head(3)

,genres,title,release_date,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com

Generamos dummmies en la columna genres para dividirlo y crear diferentes generos

In [39]:
# Rellenar los valores faltantes con una lista vacía
dfgames['genres'].fillna('[]', inplace=True)

# Convertir la lista de géneros a una cadena separada por comas
dfgames['genres'] = dfgames['genres'].apply(lambda x: ', '.join(x) )

# Crear variables ficticias para los géneros
genres_dummies = dfgames['genres'].str.get_dummies(', ')


# Concatenar las variables ficticias con el DataFrame original
dfgames = pd.concat([dfgames, genres_dummies], axis=1)

# Eliminar la columna genres 
dfgames.drop(['genres'], axis=1, inplace=True)

Cambio la columna 'release_date' a year. Para trabajar unicamente el año en lugar de un datetime

In [40]:
# Reemplazar los valores no válidos por NaN
dfgames["release_date"] = pd.to_datetime(dfgames["release_date"], errors='coerce')
# Filtrar el DataFrame para obtener los registros válidos
df_filtered = dfgames.dropna(subset=["release_date"])
# Convertir la columna "release_date" a tipo datetime
dfgames["release_date"] = pd.to_datetime(dfgames["release_date"])
# Rellenando los valores faltantes en las columna'release_date' con la moda
columns_fill_mode = ['release_date']
for col in columns_fill_mode:
    dfgames[col].fillna(dfgames[col].mode()[0], inplace=True)

In [41]:
# Modelado y eliminación de la columna 'release_date'
dfgames['year'] = dfgames['release_date'].dt.year.astype('Int64')
dfgames.drop('release_date', axis=1, inplace=True)

In [42]:
dfgames.head(5)

,title,price,id,developer,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,year
88310,Lost Summoner Kitty,4.99,761140,Kotoshiro,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,2018
88311,Ironbound,Free To Play,643980,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
88312,Real Pool 3D - Poolians,Free to Play,670290,Poolians.com,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,2017
88313,弹炸人2222,0.99,767400,彼岸领域,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
88315,Battle Royale Trainer,3.99,772540,Trickjump Games Ltd,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2018

In [50]:
# Normalizo varios valores en la columna 'price' por 'Free to Play'
dfgames['price'] = dfgames['price'].replace(['Free', 'Free To Play', 'Free Mod', 'Free Demo', 'Play for Free!', 'Free HITMAN™ Holiday Pack'], 'Free to Play')

In [46]:
# Buscar registros duplicados
duplicados = dfgames[dfgames.duplicated()]
print("\nRegistros duplicados:")
print(duplicados)

Registros duplicados:
                                   title  price      id      developer  \
102883  Wolfenstein II: The New Colossus  59.99  612880  Machine Games

        Action  Adventure  Animation &amp; Modeling  Audio Production  Casual  \
102883       1          0                         0                 0       0

        Design &amp; Illustration  ...  RPG  Racing  Simulation  \
102883                          0  ...    0       0           0

        Software Training  Sports  Strategy  Utilities  Video Production  \
102883                  0       0         0          0                 0

        Web Publishing  year
102883               0  2017

[1 rows x 26 columns]

In [47]:
# Eliminar las filas duplicadas basadas en ciertas columnas
dfgames_cleaned = dfgames.drop_duplicates(subset=['title', 'price', 'id', 'developer'], keep='first')

# Imprimir el DataFrame limpio
print(dfgames_cleaned)

                           title         price      id  \
88310        Lost Summoner Kitty          4.99  761140
88311                  Ironbound  Free To Play  643980
88312    Real Pool 3D - Poolians  Free to Play  670290
88313                    弹炸人2222          0.99  767400
88315      Battle Royale Trainer          3.99  772540
...                          ...           ...     ...
120439              Kebab it Up!          1.99  745400
120440            Colony On Mars          1.99  773640
120441  LOGistICAL: South Africa          4.99  733530
120442             Russian Roads          1.99  610660
120443       EXIT 2 - Directions          4.99  658870

                       developer  Action  Adventure  Animation &amp; Modeling  \
88310                  Kotoshiro       1          0                         0
88311           Secret Level SRL       0          0                         0
88312               Poolians.com       0          0                         0
88313                       彼岸领域       1          1                         0
88315        Trickjump Games Ltd       1          1                         0
...                          ...     ...        ...                       ...
120439           Bidoniera Games       1          1                         0
120440        Nikita "Ghost_RUS"       0          0                         0
120441                    Sacada       0          0                         0
120442  Laush Dmitriy Sergeevich       0          0                         0
120443             xropi,stev3ns       0          0                         0

        Audio Production  Casual  Design &amp; Illustration  ...  RPG  Racing  \
88310                  0       1                          0  ...    0       0
88311                  0       0                          0  ...    1       0
88312                  0       1                          0  ...    0       0
88313                  0       1                          0  ...    0       0
88315                  0       0                          0  ...    0       0
...                  ...     ...                        ...  ...  ...     ...
120439                 0       1                          0  ...    0       0
120440                 0       1                          0  ...    0       0
120441                 0       1                          0  ...    0       0
120442                 0       0                          0  ...    0       1
120443                 0       1                          0  ...    0       0

        Simulation  Software Training  Sports  Strategy  Utilities  \
88310            1                  0       0         1          0
88311            0                  0       0         1          0
88312            1                  0       1         0          0
88313            0                  0       0         0          0
88315            1                  0       0         0          0
...            ...                ...     ...       ...        ...
120439           0                  0       0         0          0
120440           1                  0       0         1          0
120441           0                  0       0         1          0
120442           1                  0       0         0          0
120443           0                  0       0         0          0

        Video Production  Web Publishing  year
88310                  0               0  2018
88311                  0               0  2018
88312                  0               0  2017
88313                  0               0  2017
88315                  0               0  2018
...                  ...             ...   ...
120439                 0               0  2018
120440                 0               0  2018
120441                 0               0  2018
120442                 0               0  2018
120443                 0               0  2017

[22529 rows x 26 columns]

In [52]:
# Guardamos en un csv
dfgames.to_csv('Games.csv', index=False)

                    Dataset Items

Carga, transformacion y guardado en csv de la tabla items

In [2]:
# Cargar el archivo JSON y lo guardo en el DataFrame Items
# Abrir el archivo JSON
with open("australian_users_items.json", 'r', encoding='utf-8') as i:
    data = i.readlines()
    
# Carga de los datos en el DataFrame df_items
datos = [eval(line.strip()) for line in data]
df_items = pd.DataFrame(datos)

In [3]:
# Explorar un poco el DataFrame
df_items.head(3)

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."

In [4]:
#Verificamos el contenido de items para ver que quiero sacar
print(df_items['items'][0])

[{'item_id': '10', 'item_name': 'Counter-Strike', 'playtime_forever': 6, 'playtime_2weeks': 0}, {'item_id': '20', 'item_name': 'Team Fortress Classic', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '30', 'item_name': 'Day of Defeat', 'playtime_forever': 7, 'playtime_2weeks': 0}, {'item_id': '40', 'item_name': 'Deathmatch Classic', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '50', 'item_name': 'Half-Life: Opposing Force', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '60', 'item_name': 'Ricochet', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '70', 'item_name': 'Half-Life', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '130', 'item_name': 'Half-Life: Blue Shift', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '300', 'item_name': 'Day of Defeat: Source', 'playtime_forever': 4733, 'playtime_2weeks': 0}, {'item_id': '240', 'item_name': 'Counter-Strike: Source', 'playtime_forever': 1853, 'playtime_2weeks': 0}, {'item_id': '3830', 'item_name': 'Psychonauts', 'playtime_forever': 333, 'playtime_2weeks': 0}, {'item_id': '2630', 'item_name': 'Call of Duty 2', 'playtime_forever': 75, 'playtime_2weeks': 0}, {'item_id': '3900', 'item_name': "Sid Meier's Civilization IV", 'playtime_forever': 338, 'playtime_2weeks': 0}, {'item_id': '34440', 'item_name': "Sid Meier's Civilization IV", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '3920', 'item_name': "Sid Meier's Pirates!", 'playtime_forever': 2, 'playtime_2weeks': 0}, {'item_id': '6400', 'item_name': 'Joint Task Force', 'playtime_forever': 286, 'playtime_2weeks': 0}, {'item_id': '6910', 'item_name': 'Deus Ex: Game of the Year Edition', 'playtime_forever': 2685, 'playtime_2weeks': 0}, {'item_id': '7670', 'item_name': 'BioShock', 'playtime_forever': 633, 'playtime_2weeks': 0}, {'item_id': '409710', 'item_name': 'BioShock Remastered', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '220', 'item_name': 'Half-Life 2', 'playtime_forever': 696, 'playtime_2weeks': 0}, {'item_id': '320', 'item_name': 'Half-Life 2: Deathmatch', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '340', 'item_name': 'Half-Life 2: Lost Coast', 'playtime_forever': 37, 'playtime_2weeks': 0}, {'item_id': '360', 'item_name': 'Half-Life Deathmatch: Source', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '380', 'item_name': 'Half-Life 2: Episode One', 'playtime_forever': 168, 'playtime_2weeks': 0}, {'item_id': '400', 'item_name': 'Portal', 'playtime_forever': 173, 'playtime_2weeks': 0}, {'item_id': '420', 'item_name': 'Half-Life 2: Episode Two', 'playtime_forever': 323, 'playtime_2weeks': 0}, {'item_id': '9340', 'item_name': 'Company of Heroes: Opposing Fronts', 'playtime_forever': 692, 'playtime_2weeks': 0}, {'item_id': '228200', 'item_name': 'Company of Heroes (New Steam Version)', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '11450', 'item_name': 'Overlord', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '7940', 'item_name': 'Call of Duty 4: Modern Warfare', 'playtime_forever': 1185, 'playtime_2weeks': 0}, {'item_id': '4700', 'item_name': 'Medieval II: Total War', 'playtime_forever': 477, 'playtime_2weeks': 0}, {'item_id': '12900', 'item_name': 'Audiosurf', 'playtime_forever': 115, 'playtime_2weeks': 0}, {'item_id': '13250', 'item_name': 'Unreal Gold', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '16100', 'item_name': 'Virtual Villagers: A New Home', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '15700', 'item_name': "Oddworld: Abe's Oddysee", 'playtime_forever': 28, 'playtime_2weeks': 0}, {'item_id': '15710', 'item_name': "Oddworld: Abe's Exoddus", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '17330', 'item_name': 'Crysis Warhead', 'playtime_forever': 31, 'playtime_2weeks': 0}, {'item_id': '17340', 'item_name': 'Crysis Wars', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '22000', 'item_name': 'World of Goo', 'playtime_forever': 195, 'playtime_2weeks': 0}, {'item_id': '500', 'item_name': 'Left 4 Dead', 'playtime_forever': 513, 'playtime_2weeks': 0}, {'item_id': '4560', 'item_name': 'Company of Heroes', 'playtime_forever': 1061, 'playtime_2weeks': 0}, {'item_id': '17460', 'item_name': 'Mass Effect', 'playtime_forever': 1613, 'playtime_2weeks': 0}, {'item_id': '10500', 'item_name': 'Empire: Total War', 'playtime_forever': 186, 'playtime_2weeks': 0}, {'item_id': '24740', 'item_name': 'Burnout Paradise: The Ultimate Box', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '22200', 'item_name': 'Zeno Clash', 'playtime_forever': 271, 'playtime_2weeks': 0}, {'item_id': '26800', 'item_name': 'Braid', 'playtime_forever': 445, 'playtime_2weeks': 0}, {'item_id': '1250', 'item_name': 'Killing Floor', 'playtime_forever': 10006, 'playtime_2weeks': 0}, {'item_id': '35420', 'item_name': 'Killing Floor Mod: Defence Alliance 2', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '3590', 'item_name': 'Plants vs. Zombies: Game of the Year', 'playtime_forever': 4413, 'playtime_2weeks': 0}, {'item_id': '8880', 'item_name': 'Freedom Force', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '8890', 'item_name': 'Freedom Force vs. the 3rd Reich', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '23120', 'item_name': 'Droplitz', 'playtime_forever': 53, 'playtime_2weeks': 0}, {'item_id': '35700', 'item_name': 'Trine', 'playtime_forever': 199, 'playtime_2weeks': 0}, {'item_id': '10140', 'item_name': '3D Ultra Minigolf Adventures Deluxe', 'playtime_forever': 25, 'playtime_2weeks': 0}, {'item_id': '35010', 'item_name': 'Batman: Arkham Asylum', 'playtime_forever': 570, 'playtime_2weeks': 0}, {'item_id': '35140', 'item_name': 'Batman: Arkham Asylum GOTY Edition', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '29180', 'item_name': 'Osmos', 'playtime_forever': 940, 'playtime_2weeks': 0}, {'item_id': '15520', 'item_name': 'AaAaAA!!! - A Reckless Disregard for Gravity', 'playtime_forever': 110, 'playtime_2weeks': 0}, {'item_id': '32370', 'item_name': 'STAR WARS™: Knights of the Old Republic™', 'playtime_forever': 5, 'playtime_2weeks': 0}, {'item_id': '37700', 'item_name': 'Darkest of Days', 'playtime_forever': 782, 'playtime_2weeks': 0}, {'item_id': '6020', 'item_name': 'STAR WARS™ Jedi Knight: Jedi Academy™', 'playtime_forever': 77, 'playtime_2weeks': 0}, {'item_id': '24860', 'item_name': 'Battlefield 2', 'playtime_forever': 437, 'playtime_2weeks': 0}, {'item_id': '39530', 'item_name': 'Painkiller: Black Edition', 'playtime_forever': 503, 'playtime_2weeks': 0}, {'item_id': '550', 'item_name': 'Left 4 Dead 2', 'playtime_forever': 1474, 'playtime_2weeks': 0}, {'item_id': '223530', 'item_name': 'Left 4 Dead 2 Beta', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '8980', 'item_name': 'Borderlands', 'playtime_forever': 3061, 'playtime_2weeks': 0}, {'item_id': '41500', 'item_name': 'Torchlight', 'playtime_forever': 536, 'playtime_2weeks': 0}, {'item_id': '20900', 'item_name': 'The Witcher: Enhanced Edition', 'playtime_forever': 139, 'playtime_2weeks': 0}, {'item_id': '10180', 'item_name': 'Call of Duty: Modern Warfare 2', 'playtime_forever': 1886, 'playtime_2weeks': 0}, {'item_id': '10190', 'item_name': 'Call of Duty: Modern Warfare 2 - Multiplayer', 'playtime_forever': 1784, 'playtime_2weeks': 0}, {'item_id': '17450', 'item_name': 'Dragon Age: Origins', 'playtime_forever': 4431, 'playtime_2weeks': 0}, {'item_id': '3170', 'item_name': "King's Bounty: Armored Princess", 'playtime_forever': 1021, 'playtime_2weeks': 0}, {'item_id': '25900', 'item_name': "King's Bounty: The Legend", 'playtime_forever': 1389, 'playtime_2weeks': 0}, {'item_id': '31410', 'item_name': 'Zombie Driver', 'playtime_forever': 95, 'playtime_2weeks': 0}, {'item_id': '24980', 'item_name': 'Mass Effect 2', 'playtime_forever': 5001, 'playtime_2weeks': 0}, {'item_id': '8850', 'item_name': 'BioShock 2', 'playtime_forever': 1504, 'playtime_2weeks': 0}, {'item_id': '409720', 'item_name': 'BioShock 2 Remastered', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '46000', 'item_name': 'Bob Came in Pieces', 'playtime_forever': 11, 'playtime_2weeks': 0}, {'item_id': '33230', 'item_name': "Assassin's Creed II", 'playtime_forever': 1636, 'playtime_2weeks': 0}, {'item_id': '20820', 'item_name': 'Shatter', 'playtime_forever': 46, 'playtime_2weeks': 0}, {'item_id': '47700', 'item_name': 'Command and Conquer 4: Tiberian Twilight', 'playtime_forever': 85, 'playtime_2weeks': 0}, {'item_id': '24960', 'item_name': 'Battlefield: Bad Company 2', 'playtime_forever': 5716, 'playtime_2weeks': 0}, {'item_id': '43110', 'item_name': 'Metro 2033', 'playtime_forever': 834, 'playtime_2weeks': 0}, {'item_id': '8190', 'item_name': 'Just Cause 2', 'playtime_forever': 3083, 'playtime_2weeks': 0}, {'item_id': '49600', 'item_name': 'Beat Hazard', 'playtime_forever': 127, 'playtime_2weeks': 0}, {'item_id': '31220', 'item_name': 'Sam & Max 301: The Penal Zone', 'playtime_forever': 71, 'playtime_2weeks': 0}, {'item_id': '31230', 'item_name': 'Sam & Max 302: The Tomb of Sammun-Mak', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31240', 'item_name': "Sam & Max 303: They Stole Max's Brain!", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31250', 'item_name': 'Sam & Max 304: Beyond the Alley of the Dolls', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31260', 'item_name': 'Sam & Max 305: The City that Dares not Sleep', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '21090', 'item_name': 'F.E.A.R.', 'playtime_forever': 585, 'playtime_2weeks': 0}, {'item_id': '21110', 'item_name': 'F.E.A.R.: Extraction Point', 'playtime_forever': 146, 'playtime_2weeks': 0}, {'item_id': '21120', 'item_name': 'F.E.A.R.: Perseus Mandate', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '49400', 'item_name': 'Magic: The Gathering - Duels of the Planeswalkers', 'playtime_forever': 32, 'playtime_2weeks': 0}, {'item_id': '33910', 'item_name': 'Arma 2', 'playtime_forever': 3, 'playtime_2weeks': 0}, {'item_id': '33930', 'item_name': 'Arma 2: Operation Arrowhead', 'playtime_forever': 3, 'playtime_2weeks': 0}, {'item_id': '219540', 'item_name': 'Arma 2: Operation Arrowhead Beta (Obsolete)', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '17410', 'item_name': "Mirror's Edge", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '205790', 'item_name': 'Dota 2 Test', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '50130', 'item_name': 'Mafia II', 'playtime_forever': 707, 'playtime_2weeks': 0}, {'item_id': '62100', 'item_name': 'Chime', 'playtime_forever': 50, 'playtime_2weeks': 0}, {'item_id': '31280', 'item_name': 'Poker Night at the Inventory', 'playtime_forever': 206, 'playtime_2weeks': 0}, {'item_id': '57300', 'item_name': 'Amnesia: The Dark Descent', 'playtime_forever': 12, 'playtime_2weeks': 0}, {'item_id': '21970', 'item_name': 'R.U.S.E', 'playtime_forever': 64, 'playtime_2weeks': 0}, {'item_id': '8930', 'item_name': "Sid Meier's Civilization V", 'playtime_forever': 10345, 'playtime_2weeks': 0}, {'item_id': '41000', 'item_name': 'Serious Sam HD: The First Encounter', 'playtime_forever': 369, 'playtime_2weeks': 0}, {'item_id': '41050', 'item_name': 'Serious Sam Classic: The First Encounter', 'playtime_forever': 76, 'playtime_2weeks': 0}, {'item_id': '41060', 'item_name': 'Serious Sam Classic: The Second Encounter', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '227780', 'item_name': 'Serious Sam Classics: Revolution', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '18040', 'item_name': 'DeathSpank', 'playtime_forever': 594, 'playtime_2weeks': 0}, {'item_id': '22380', 'item_name': 'Fallout: New Vegas', 'playtime_forever': 43, 'playtime_2weeks': 0}, {'item_id': '42700', 'item_name': 'Call of Duty: Black Ops', 'playtime_forever': 966, 'playtime_2weeks': 0}, {'item_id': '42710', 'item_name': 'Call of Duty: Black Ops - Multiplayer', 'playtime_forever': 2452, 'playtime_2weeks': 0}, {'item_id': '62000', 'item_name': 'Flight Control HD', 'playtime_forever': 25, 'playtime_2weeks': 0}, {'item_id': '40800', 'item_name': 'Super Meat Boy', 'playtime_forever': 119, 'playtime_2weeks': 0}, {'item_id': '9500', 'item_name': 'Gish', 'playtime_forever': 6, 'playtime_2weeks': 0}, {'item_id': '18700', 'item_name': 'And Yet It Moves', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31270', 'item_name': 'Puzzle Agent', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '58200', 'item_name': 'Jolly Rover', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '70400', 'item_name': "Recettear: An Item Shop's Tale", 'playtime_forever': 537, 'playtime_2weeks': 0}, {'item_id': '41300', 'item_name': 'Altitude', 'playtime_forever': 50, 'playtime_2weeks': 0}, {'item_id': '41800', 'item_name': 'Gratuitous Space Battles', 'playtime_forever': 149, 'playtime_2weeks': 0}, {'item_id': '42500', 'item_name': 'DogFighter', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '49900', 'item_name': 'Plain Sight', 'playtime_forever': 23, 'playtime_2weeks': 0}, {'item_id': '55000', 'item_name': 'Flotilla', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '34330', 'item_name': 'Total War: SHOGUN 2', 'playtime_forever': 1538, 'playtime_2weeks': 0}, {'item_id': '63200', 'item_name': 'Monday Night Combat', 'playtime_forever': 573, 'playtime_2weeks': 0}, {'item_id': '99810', 'item_name': 'Bulletstorm', 'playtime_forever': 2, 'playtime_2weeks': 0}, {'item_id': '620', 'item_name': 'Portal 2', 'playtime_forever': 887, 'playtime_2weeks': 0}, {'item_id': '42910', 'item_name': 'Magicka', 'playtime_forever': 588, 'playtime_2weeks': 0}, {'item_id': '15500', 'item_name': 'The Wonderful End of the World', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '15540', 'item_name': '1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)', 'playtime_forever': 4, 'playtime_2weeks': 0}, {'item_id': '18500', 'item_name': 'Defense Grid: The Awakening', 'playtime_forever': 126, 'playtime_2weeks': 0}, {'item_id': '26500', 'item_name': 'Cogs', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '35460', 'item_name': 'The Ball', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '38700', 'item_name': 'Toki Tori', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '38720', 'item_name': 'RUSH', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '63700', 'item_name': 'BIT.TRIP BEAT', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '280', 'item_name': 'Half-Life: Source', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '20920', 'item_name': 'The Witcher 2: Assassins of Kings Enhanced Edition', 'playtime_forever': 1343, 'playtime_2weeks': 0}, {'item_id': '105600', 'item_name': 'Terraria', 'playtime_forever': 772, 'playtime_2weeks': 0}, {'item_id': '98200', 'item_name': 'Frozen Synapse', 'playtime_forever': 9, 'playtime_2weeks': 0}, {'item_id': '4500', 'item_name': 'S.T.A.L.K.E.R.: Shadow of Chernobyl', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '4540', 'item_name': 'Titan Quest', 'playtime_forever': 3, 'playtime_2weeks': 0}, {'item_id': '4550', 'item_name': 'Titan Quest: Immortal Throne', 'playtime_forever': 76, 'playtime_2weeks': 0}, {'item_id': '9480', 'item_name': 'Saints Row 2', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '15620', 'item_name': 'Warhammer® 40,000™: Dawn of War® II', 'playtime_forever': 2085, 'playtime_2weeks': 0}, {'item_id': '20500', 'item_name': 'Red Faction: Guerrilla Steam Edition', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '20570', 'item_name': 'Warhammer® 40,000™: Dawn of War® II - Chaos Rising™', 'playtime_forever': 69, 'playtime_2weeks': 0}, {'item_id': '50620', 'item_name': 'Darksiders', 'playtime_forever': 101, 'playtime_2weeks': 0}, {'item_id': '55100', 'item_name': 'Homefront', 'playtime_forever': 51, 'playtime_2weeks': 0}, {'item_id': '55140', 'item_name': 'MX vs. ATV Reflex', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '56400', 'item_name': 'Warhammer® 40,000™: Dawn of War® II – Retribution™', 'playtime_forever': 678, 'playtime_2weeks': 0}, {'item_id': '475150', 'item_name': 'Titan Quest Anniversary Edition', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '96100', 'item_name': 'Defy Gravity', 'playtime_forever': 9, 'playtime_2weeks': 0}, {'item_id': '35450', 'item_name': 'Rising Storm/Red Orchestra 2 Multiplayer', 'playtime_forever': 14194, 'playtime_2weeks': 0}, {'item_id': '236830', 'item_name': 'Red Orchestra 2: Heroes of Stalingrad - Single Player', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '72850', 'item_name': 'The Elder Scrolls V: Skyrim', 'playtime_forever': 2512, 'playtime_2weeks': 0}, {'item_id': '107100', 'item_name': 'Bastion', 'playtime_forever': 640, 'playtime_2weeks': 0}, {'item_id': '57690', 'item_name': 'Tropico 4', 'playtime_forever': 1815, 'playtime_2weeks': 0}, {'item_id': '91310', 'item_name': 'Dead Island', 'playtime_forever': 2078, 'playtime_2weeks': 0}, {'item_id': '113200', 'item_name': 'The Binding of Isaac', 'playtime_forever': 1494, 'playtime_2weeks': 0}, {'item_id': '65800', 'item_name': 'Dungeon Defenders', 'playtime_forever': 130, 'playtime_2weeks': 0}, {'item_id': '9200', 'item_name': 'RAGE', 'playtime_forever': 653, 'playtime_2weeks': 0}, {'item_id': '41070', 'item_name': 'Serious Sam 3: BFE', 'playtime_forever': 716, 'playtime_2weeks': 0}, {'item_id': '48950', 'item_name': 'Greed Corp', 'playtime_forever': 72, 'playtime_2weeks': 0}, {'item_id': '92800', 'item_name': 'SpaceChem', 'playtime_forever': 262, 'playtime_2weeks': 0}, {'item_id': '104700', 'item_name': 'Super Monday Night Combat', 'playtime_forever': 44, 'playtime_2weeks': 0}, {'item_id': '203770', 'item_name': 'Crusader Kings II', 'playtime_forever': 18, 'playtime_2weeks': 0}, {'item_id': '203810', 'item_name': 'Dear Esther', 'playtime_forever': 86, 'playtime_2weeks': 0}, {'item_id': '110800', 'item_name': 'L.A. Noire', 'playtime_forever': 1204, 'playtime_2weeks': 0}, {'item_id': '207610', 'item_name': 'The Walking Dead', 'playtime_forever': 798, 'playtime_2weeks': 0}, {'item_id': '98300', 'item_name': 'Toy Soldiers', 'playtime_forever': 110, 'playtime_2weeks': 0}, {'item_id': '50300', 'item_name': 'Spec Ops: The Line', 'playtime_forever': 296, 'playtime_2weeks': 0}, {'item_id': '204300', 'item_name': 'Awesomenauts', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '1700', 'item_name': 'Arx Fatalis', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '205100', 'item_name': 'Dishonored', 'playtime_forever': 1429, 'playtime_2weeks': 0}, {'item_id': '211120', 'item_name': 'The Political Machine', 'playtime_forever': 1, 'playtime_2weeks': 0}, {'item_id': '730', 'item_name': 'Counter-Strike: Global Offensive', 'playtime_forever': 23532, 'playtime_2weeks': 0}, {'item_id': '49520', 'item_name': 'Borderlands 2', 'playtime_forever': 1303, 'playtime_2weeks': 0}, {'item_id': '200260', 'item_name': 'Batman: Arkham City GOTY', 'playtime_forever': 100, 'playtime_2weeks': 0}, {'item_id': '212680', 'item_name': 'FTL: Faster Than Light', 'playtime_forever': 500, 'playtime_2weeks': 0}, {'item_id': '200710', 'item_name': 'Torchlight II', 'playtime_forever': 459, 'playtime_2weeks': 0}, {'item_id': '219150', 'item_name': 'Hotline Miami', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '215510', 'item_name': 'Rocketbirds: Hardboiled Chicken', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '8870', 'item_name': 'BioShock Infinite', 'playtime_forever': 2084, 'playtime_2weeks': 0}, {'item_id': '200510', 'item_name': 'XCOM: Enemy Unknown', 'playtime_forever': 3478, 'playtime_2weeks': 0}, {'item_id': '220240', 'item_name': 'Far Cry® 3', 'playtime_forever': 182, 'playtime_2weeks': 0}, {'item_id': '218680', 'item_name': 'Scribblenauts Unlimited', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '228280', 'item_name': "Baldur's Gate: Enhanced Edition", 'playtime

In [5]:
# aplico la funcion lambda para desanidar las keys que busco con sus values
df_items['playtime_forever'] = df_items['items'].apply(lambda x: x[0].get('playtime_forever') if len(x) > 0 else 0)
df_items['id'] = df_items['items'].apply(lambda x: x[0].get('item_id') if len(x) > 0 else 0)
df_items['playtime_forever'] = df_items['playtime_forever'].astype(int)

In [6]:
df_items.head(3)

,user_id,items_count,steam_id,user_url,items,playtime_forever,id
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,10
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,10
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest...",923,1200

In [7]:
df_items.drop(['user_url','items'], axis=1, inplace=True)

In [8]:
# Buscar registros duplicados
duplicados = df_items[df_items.duplicated()]
print("\nRegistros duplicados:")
print(duplicados)

Registros duplicados:
                 user_id  items_count           steam_id  playtime_forever  \
865           bokkkbokkk            0  76561198006988360                 0
1732              Nikiad          109  76561198084006094                 5
2343   76561198079743094           48  76561198079743094                30
2344          ImSeriouss           50  76561198055318375              4312
2394   76561198069124937            0  76561198069124937                 0
...                  ...          ...                ...               ...
48944  76561198035336388            5  76561198035336388               959
67355  76561198071790027            0  76561198071790027                 0
69344        darkus0haos          122  76561198073621277                 0
73424  76561198080057659           39  76561198080057659                 0
77045         farquadian            0  76561198086134170                 0

          id
865        0
1732      20
2343     240
2344    4000
2394       0
...      ...
48944  22600
67355      0
69344    240
73424     50
77045      0

[678 rows x 5 columns]

In [9]:
# Eliminar las filas duplicadas basadas en el 'user_id'
df_items_sin_duplicados = df_items.drop_duplicates(subset=['user_id'], keep='first')

# Imprimir el nuevo DataFrame sin duplicados
print("DataFrame sin filas duplicadas:")
print(df_items_sin_duplicados)

DataFrame sin filas duplicadas:
                       user_id  items_count           steam_id  \
0            76561197970982479          277  76561197970982479
1                      js41637          888  76561198035864385
2                    evcentric          137  76561198007712555
3                   Riot-Punch          328  76561197963445855
4                        doctr          541  76561198002099482
...                        ...          ...                ...
88305        76561198323066619           22  76561198323066619
88306        76561198326700687          177  76561198326700687
88307  XxLaughingJackClown77xX            0  76561198328759259
88308        76561198329548331            7  76561198329548331
88309        edward_tremethick            0  76561198331598578

       playtime_forever      id
0                     6      10
1                     0      10
2                   923    1200
3                     0      10
4                  1131     300
...                 ...     ...
88305                 0  413850
88306                 0   11020
88307                 0       0
88308               677  304930
88309                 0       0

[87626 rows x 5 columns]

In [10]:
df_items.head(3)

             user_id  items_count           steam_id  playtime_forever    id
0  76561197970982479          277  76561197970982479                 6    10
1            js41637          888  76561198035864385                 0    10
2          evcentric          137  76561198007712555               923  1200

In [11]:
# Guardamos en un csv
df_items.to_csv('Items.csv', index=False)

                    Dataset Reviews

Carga, transformacion y guardado de la tabla reviews en csv

In [2]:
# Cargar el archivo JSON y lo guardo en el DataFrame Reviews
# Abrir el archivo JSON
with open('australian_user_reviews.json', 'r', encoding= 'utf-8') as f:
    data = f.readlines()

# Carga de los datos en el DataFrame df_review
datos = [eval(line.strip()) for line in data]
df_review = pd.DataFrame(datos)

In [3]:
# Explorar un poco el DataFrame
df_review.head(3)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."

Desanidado de la columna "reviews"

In [3]:
#creo un df con el archivo review y accedo ala column que me interesa desanidar.
df = df_review.explode('reviews') 
#con esta expresion  creo un nuevo df donde esta la info desanidada en columnas
df_review = pd.concat([df.drop(['reviews'], axis=1), df['reviews'].apply(pd.Series)], axis=1)

Extraeremos el año y eliminaremos la columna Posted

In [4]:
# se cre la columna year
df_review['posted_year'] = df_review['posted'].str.extract(r'(\d{4})')
#Se elimina la columna posted
df_review.drop(['posted'], axis=1, inplace=True)

In [7]:
df_review.head(3)

,user_id,user_url,funny,last_edited,item_id,helpful,recommend,review,0,posted_year
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN,2011
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN,2011
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN,2011

In [5]:
df_review.drop(['posted_year', 'funny', 'last_edited', 'user_url', 'helpful', 0], axis=1, inplace=True)

Implementacion del Sentiment Score

In [6]:
#importamos las librerias
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
nltk.download('vader_lexicon', quiet=True)

# Crear una instancia del analizador de sentimientos de Vader
sia = SentimentIntensityAnalyzer()

# Definir una función para asignar el valor de 'sentiment_analysis' según el análisis de sentimiento
def assign_sentiment_analysis(review):
    if pd.isna(review):
        return 1  # Valor neutral si no hay reseña
    else:
        compound_score = sia.polarity_scores(review)['compound']
        if compound_score >= 0.05:
            return 2  # Positivo
        elif compound_score <= -0.05:
            return 0  # Malo
        else:
            return 1  # Neutral
        
# Aplicar la función para crear la nueva columna 'sentiment_analysis'
df_review['sentiment_analysis'] = df_review['review'].apply(assign_sentiment_analysis)

In [7]:
# Convertir la columna 'review' a tipo de dato str
df_review['review'] = df_review['review'].astype(str)

In [8]:
df_review.head(3)

,user_id,funny,last_edited,item_id,recommend,review,posted_year,sentiment_analysis
0,76561197970982479,,,1250,True,Simple yet with great replayability. In my opi...,2011,2
0,76561197970982479,,,22200,True,It's unique and worth a playthrough.,2011,2
0,76561197970982479,,,43110,True,Great atmosphere. The gunplay can be a bit chu...,2011,2

In [9]:
# Buscar registros duplicados
duplicados = df_review[df_review.duplicated()]
print("\nRegistros duplicados:")
print(duplicados)

Registros duplicados:
                 user_id funny                    last_edited item_id  \
456           bokkkbokkk                                       346110
1182          ImSeriouss                                       218620
1182          ImSeriouss                                       105600
1182          ImSeriouss                                          570
1182          ImSeriouss                                       211820
...                  ...   ...                            ...     ...
18234  76561198092022514                                       422400
18234  76561198092022514                                       218620
18234  76561198092022514                                       261820
18234  76561198092022514                                       224260
18309     SuchGayMuchWow        Last edited December 1, 2015.     730

      recommend                                             review  \
456        True                                                yep
1182       True             Good graphics, fun heists! A bit laggy
1182       True  So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...
1182       True                                         bobo pinoy
1182       True  If you want to play this game.. expect glithes...
...         ...                                                ...
18234      True  Muy entretenido y una coleccion de armas prome...
18234      True  Tiene una jugabilidad y tematica muy buena :D,...
18234      True  Buen juego, no importa el desarrrollo que tien...
18234      True  exelente aporte :D¡¡¡ es una buen mod basado e...
18309      True                10/10 too many children with mikes.

      posted_year  sentiment_analysis
456          2015                   2
1182         2014                   2
1182         2014                   2
1182         2014                   1
1182         2014                   2
...           ...                 ...
18234         NaN                   1
18234         NaN                   1
18234        2014                   0
18234        2014                   1
18309        2015                   1

[874 rows x 8 columns]

In [10]:
# Eliminar las filas duplicadas basadas en el 'user_id'
df_items_sin_duplicados = df_review.drop_duplicates(subset=['user_id'], keep='first')

# Imprimir el nuevo DataFrame sin duplicados
print("DataFrame sin filas duplicadas:")
print(df_items_sin_duplicados)

DataFrame sin filas duplicadas:
                 user_id                             funny last_edited  \
0      76561197970982479
1                js41637
2              evcentric
3                  doctr
4              maplemage  3 people found this review funny
...                  ...                               ...         ...
25794  76561198306599751
25795           Ghoustik
25796  76561198310819422  1 person found this review funny
25797  76561198312638244
25798        LydiaMorley  1 person found this review funny

      item_id recommend                                             review  \
0        1250      True  Simple yet with great replayability. In my opi...
1      251610      True  I know what you think when you see this title ...
2      248820      True  A suitably punishing roguelike platformer.  Wi...
3      250320      True  This game... is so fun. The fight sequences ha...
4      211420      True                                            Git gud
...       ...       ...                                                ...
25794  261030      True  I cried in the end its so sadding ]'; I wish l...
25795     730      True  Gra naprawdę fajna.Ale jest kilka rzeczy do kt...
25796     570      True                                          Well Done
25797  233270      True  this is a very fun and nice 80s themed shooter...
25798  273110      True  had so much fun plaing this and collecting res...

      posted_year  sentiment_analysis
0            2011                   2
1            2014                   2
2             NaN                   2
3            2013                   2
4            2014                   1
...           ...                 ...
25794         NaN                   2
25795         NaN                   1
25796         NaN                   2
25797         NaN                   2
25798         NaN                   2

[25485 rows x 8 columns]

In [26]:
# Guardamos en un csv
df_review.to_csv('Reviews.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

                Creacion del dataset final

In [37]:
# A travez de id podemos unir tablas para ahorrar espacio
# Convino las tablas previamente desanidadas
df_merge = pd.merge(dfgames, df_items, on='id')

In [38]:
# Unimos el dataset convinado con el dataset Items
df_final = pd.merge(df_merge, df_review, on= 'user_id')

In [39]:
# Reviso las columnas del dataframe final
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52707 entries, 0 to 52706
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      52707 non-null  object
 1   price                      52707 non-null  object
 2   id                         52707 non-null  int64
 3   developer                  52707 non-null  object
 4   Action                     52707 non-null  int64
 5   Adventure                  52707 non-null  int64
 6   Animation &amp; Modeling   52707 non-null  int64
 7   Audio Production           52707 non-null  int64
 8   Casual                     52707 non-null  int64
 9   Design &amp; Illustration  52707 non-null  int64
 10  Early Access               52707 non-null  int64
 11  Education                  52707 non-null  int64
 12  Free to Play               52707 non-null  int64
 13  Indie                      52707 non-null  int64
 14  Massively Multiplayer      52707 non-null  int64
 15  Photo Editing              52707 non-null  int64
 16  RPG                        52707 non-null  int64
 17  Racing                     52707 non-null  int64
 18  Simulation                 52707 non-null  int64
 19  Software Training          52707 non-null  int64
 20  Sports                     52707 non-null  int64
 21  Strategy                   52707 non-null  int64
 22  Utilities                  52707 non-null  int64
 23  Video Production           52707 non-null  int64
 24  Web Publishing             52707 non-null  int64
 25  year                       52707 non-null  int64
 26  user_id                    52707 non-null  object
 27  items_count                52707 non-null  int64
 28  steam_id                   52707 non-null  int64
 29  playtime_forever           52707 non-null  int64
 30  item_id                    52682 non-null  float64
 31  recommend                  52682 non-null  object
 32  review                     52655 non-null  object
 33  sentiment_analysis         52707 non-null  int64
dtypes: float64(1), int64(27), object(6)
memory usage: 13.7+ MB

In [40]:
df_final.shape

(52707, 34)

In [41]:
df_final.head()

,title,price,id,developer,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Web Publishing,year,user_id,items_count,steam_id,playtime_forever,item_id,recommend,review,sentiment_analysis
0,Half-Life,9.99,70,Valve,1,0,0,0,0,0,...,0,1998,kube134,476,76561198031442694,4,251990.0,True,It's good to be a magical queen... if you surv...,2
1,Half-Life,9.99,70,Valve,1,0,0,0,0,0,...,0,1998,76561198030567998,75,76561198030567998,21,332800.0,True,10/10 would take kids here for birthday,1
2,Half-Life,9.99,70,Valve,1,0,0,0,0,0,...,0,1998,76561198030567998,75,76561198030567998,21,319630.0,True,"Well for starters, when I write reviews they a...",2
3,Half-Life,9.99,70,Valve,1,0,0,0,0,0,...,0,1998,76561198030567998,75,76561198030567998,21,6020.0,True,10/10 lets you cut people into sushi if the pr...,0
4,Half-Life,9.99,70,Valve,1,0,0,0,0,0,...,0,1998,76561198030567998,75,76561198030567998,21,55230.0,True,"10/10 has Sasha Grey, so fun for whole family.",2

In [43]:
# Guardamos el dataset final
df_final.to_csv('data_final.csv', index=False)